* {
    margin: 0;
    padding: 0;
}

#principal {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bdd8b9;
    width: 99%;
    margin:auto;
    border-style:inset #569b4a;
}   

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #569b4a;
    border-radius: 8px;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style: none;
}


nav > ul >li {
    margin-bottom: 20px;
    padding: 15px;
}


nav a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;

}

nav a:hover {
    margin: 5px;
    padding: 20px;
    color: white;
    background-color: #31552a;
    border-radius: 5px;
}



main {
    background-color: #bdd8b9;
    display: flex;
    flex-direction: row;
}

section {
    width: 60%;
    height: 500px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


aside {
    width: 40%;
    height: 500px;
}


aside table {
    width: 100%;
    padding-top: 100px;
}


table th {
    background-color: #1fb624;
    color: white;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: solid 1px rgba(208, 216, 193, 0.459);
}


aside th:hover {
    background: rgba(147, 221, 29, 0.767);
}


aside a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;

}

aside a:hover { 
    color: black;
}


footer {
    background-color: #92bb8b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


footer  ul {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding: 1px;
    font-size: 14px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}